body {
    background-color: #F2F2F2;
}

.register-form__content {
    margin: 0 auto;
    max-width: 420px;
}

.register-form__heading {
    margin-top: 40px;
    text-align: center;
    font-size: 28px;
}

.register-form__heading p {
    margin-bottom: 0px;
}

.form_register {
    text-align: center;
    /* width: 420px; */
    /* height: 644px; */
}

.register_name,
.register_email,
.register_password1,
.register_password2,
.register_button {
    margin-top: 25px;
}

.register_name input,
.register_email input,
.register_password1 input,
.register_password2 input {
    width: 420px;
    height: 45px;
    font-size: 16px;
    color: gray;
    background-color: #F2F2F2;
    padding-left: 20px;
    border: 2px solid gray;
    border-radius: 5px;

}

.error_message {
    font-size: 14px;
    color: red;
    text-align: left;
}

.register_button_text {
    width: 420px;
    height: 45px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background: blue;
    color: white;
    cursor: pointer;
}

.register_text p {
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 16px;
    color: gray;
}

.register_login_link {
    text-decoration: none;
    font-size: 16px;
    color: blue;
}